In [1]:
import pandas as pd

In [4]:
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

In [2]:
### creates the user df from users.csv file
users = pd.read_csv('users.csv')

In [5]:
users.head(10)

   Unnamed: 0  index first_name last_name date_of_birth                        company                 email_address                                            address         country country_code       phone_number   join_date                             user_uuid
0           0      0   Sigfried     Noack    1990-09-30             Heydrich Junitz KG             rudi79@winkler.de                       Zimmerstr. 1/0\n59015 Gießen         Germany           DE   +49(0) 047905356  2018-10-10  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1           1      1        Guy     Allen    1940-12-01                        Fox Ltd  rhodesclifford@henderson.com  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom           GB    (0161) 496 0674  2001-12-20  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2           2      2      Harry  Lawrence    1995-08-02      Johnson, Jones and Harris  glen98@bryant-marshall.co.uk                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom           GB  +44(0)121 4960340  2016-12-16  fc461df4-b919-48b2-909e-55c95a03fe6b
3           3      3     Darren   Hussain    1972-09-23                    Wheeler LLC    daniellebryan@thompson.org             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom           GB    (0306) 999 0871  2004-02-23  6104719f-ef14-4b09-bf04-fb0c4620acb0
4           4      4      Garry     Stone    1952-12-20                     Warner Inc       billy14@long-warren.com              3 White pass\nHunterborough\nNN96 4UE  United Kingdom           GB      0121 496 0225  2006-09-01  9523a6d3-b2dd-4670-a51a-36aebc89f579
5           5      5      David    Torres    1949-08-12                   Yang-Stewart         mwilliams@nichols.org     49226 Edwards Mountains\nNorth Sarah, DE 69608   United States           US  277-664-6389x8405  2002-01-21  53d21f46-1fa4-452f-a023-26aee2aae4d6
6           6      6       Anne    Morris    1952-11-10                 Hutchinson Inc     nhudson@taylor-horton.com                 33 Shaun locks\nMorganland\nG8 9YP  United Kingdom           GB        028 9018749  2004-06-23  e2066a2c-8cd3-46ad-b2ea-e2445d5d9335
7           7      7      Louis   Roberts    2006-08-05  Hamilton, Walters and Clayton  joanne04@jennings-watson.com       Flat 68\nHamilton meadows\nNeilbury\nS88 8AP  United Kingdom           GB   +44(0)1414960221  2008-04-19  bd690c60-c952-40c0-82df-0f8b6797b562
8           8      8   Kathleen    Barlow    1959-11-13                   Ferguson Ltd         garymorton@clarke.com     116 Smith junctions\nRichardsonmouth\nCO67 2LJ  United Kingdom           GB      028 9018 0338  1993-07-10  02de2416-4baf-42ad-bae6-d716eca0fc3f
9           9      9      Emily     Jones    1992-10-09                Serrano-Leblanc            toni24@carlson.com  012 Andrea Circle Suite 129\nJosephmouth, AS 2...   United States           US         6554215915  1998-05-15  caffe463-4918-4f45-a37d-856dc0f15884