In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 1000) 
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

##### creates the user df from users.csv file

In [3]:
users = pd.read_csv('users.csv')

##### look out for NULL values, errors with dates, incorrectly typed values and rows filled with the wrong information

In [4]:
userdf = users.copy()

In [5]:
# drops the column 'Unnamed:0' which seems to be unnecessary
userdf.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
userdf.head()

   index first_name last_name date_of_birth                    company                 email_address                                            address         country country_code       phone_number   join_date                             user_uuid
0      0   Sigfried     Noack    1990-09-30         Heydrich Junitz KG             rudi79@winkler.de                       Zimmerstr. 1/0\n59015 Gießen         Germany           DE   +49(0) 047905356  2018-10-10  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      1        Guy     Allen    1940-12-01                    Fox Ltd  rhodesclifford@henderson.com  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom           GB    (0161) 496 0674  2001-12-20  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      2      Harry  Lawrence    1995-08-02  Johnson, Jones and Harris  glen98@bryant-marshall.co.uk                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom           GB  +44(0)121 4960340  2016-12-16  fc461df4-b919-48b2-909e-55c95a03fe6b
3      3     Darren   Hussain    1972-09-23                Wheeler LLC    daniellebryan@thompson.org             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom           GB    (0306) 999 0871  2004-02-23  6104719f-ef14-4b09-bf04-fb0c4620acb0
4      4      Garry     Stone    1952-12-20                 Warner Inc       billy14@long-warren.com              3 White pass\nHunterborough\nNN96 4UE  United Kingdom           GB      0121 496 0225  2006-09-01  9523a6d3-b2dd-4670-a51a-36aebc89f579

In [7]:
### replace 'GGB' with 'GB'
userdf['country_code'] = userdf['country_code'].replace('GGB','GB')

##### getting the df only with 'GB', 'US', AND 'DE' country codes

In [8]:
mask = (userdf.country_code=='GB') | (userdf.country_code=='DE') | (userdf.country_code=='US')

In [9]:
new = userdf[mask]

In [10]:
new['country_code'].value_counts()

GB    9371
DE    4708
US    1205
Name: country_code, dtype: int64

In [11]:
new['country'].value_counts()

United Kingdom    9371
Germany           4708
United States     1205
Name: country, dtype: int64

In [12]:
new.sort_values(by=['index'], inplace=True)

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\757174121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.sort_values(by=['index'], inplace=True)

##### standardizing phone number

In [13]:
new['phone_number'] = new['phone_number'].astype('string')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\2960374634.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].astype('string')

In [14]:
new['phone_number'] = new['phone_number'].str.replace(' ', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\3201819053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace(' ', '')

In [15]:
new['phone_number'] = new['phone_number'].replace('\(', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\3767570384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].replace('\(', '')

In [16]:
new['phone_number'] = new['phone_number'].str.replace('x', ' ext. ')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\80734230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace('x', ' ext. ')

In [17]:
new['phone_number'] = new['phone_number'].str.replace('\(', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\4193027365.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  new['phone_number'] = new['phone_number'].str.replace('\(', '')
C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\4193027365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace('\(', '')

In [18]:
new['phone_number'] = new['phone_number'].str.replace('\)', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\1239208695.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  new['phone_number'] = new['phone_number'].str.replace('\)', '')
C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\1239208695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace('\)', '')

In [19]:
new['phone_number'] = new['phone_number'].str.replace('+', '00')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\1840428451.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new['phone_number'] = new['phone_number'].str.replace('+', '00')
C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\1840428451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace('+', '00')

In [20]:
new['phone_number'] = new['phone_number'].str.replace('.', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\4111010685.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new['phone_number'] = new['phone_number'].str.replace('.', '')
C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\4111010685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace('.', '')

In [21]:
new['phone_number'] = new['phone_number'].str.replace('-', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\2936985468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['phone_number'] = new['phone_number'].str.replace('-', '')

##### address column

In [33]:
new['address'] = new['address'].astype('string')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\606620282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['address'] = new['address'].astype('string')

In [35]:
new['address'] = new['address'].str.replace('\n', ' ')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\1009431804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['address'] = new['address'].str.replace('\n', ' ')

In [37]:
new['address'] = new['address'].str.replace('/', '')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\500798970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['address'] = new['address'].str.replace('/', '')

##### datetime

In [44]:
new

       index    first_name last_name date_of_birth                       company                 email_address                                         address         country country_code     phone_number   join_date                             user_uuid
0          0      Sigfried     Noack    1990-09-30            Heydrich Junitz KG             rudi79@winkler.de                      Zimmerstr. 10 59015 Gießen         Germany           DE   00490047905356  2018-10-10  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1          1           Guy     Allen    1940-12-01                       Fox Ltd  rhodesclifford@henderson.com  Studio 22a Lynne terrace McCarthymouth TF0 9GH  United Kingdom           GB      01614960674  2001-12-20  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2          2         Harry  Lawrence    1995-08-02     Johnson, Jones and Harris  glen98@bryant-marshall.co.uk                92 Ann drive Joanborough SK0 6LR  United Kingdom           GB  004401214960340  2016-12-16  fc461df4-b919-48b2-909e-55c95a03fe6b
3          3        Darren   Hussain    1972-09-23                   Wheeler LLC    daniellebryan@thompson.org            19 Robinson meadow New Tracy W22 2QG  United Kingdom           GB      03069990871  2004-02-23  6104719f-ef14-4b09-bf04-fb0c4620acb0
4          4         Garry     Stone    1952-12-20                    Warner Inc       billy14@long-warren.com             3 White pass Hunterborough NN96 4UE  United Kingdom           GB      01214960225  2006-09-01  9523a6d3-b2dd-4670-a51a-36aebc89f579
...      ...           ...       ...           ...                           ...                           ...                                             ...             ...          ...              ...         ...                                   ...
15284  15315         Marta     Rogge    1981-03-03                        Dehmel    baererklothilde@trubin.com                  Ziegertstr. 60 93330 Stollberg         Germany           DE      05917549662  2000-03-29  8a77629e-7ca1-409f-b22c-c24056bd4eb1
15285  15316          Erna  Hoffmann    1967-10-28  Atzler Seifert AG & Co. KGaA    dunjafischer@vollbrecht.de           Henkallee 186 33456 Sankt Goarshausen         Germany           DE   00490738451073  2018-03-13  5f57209e-8695-4863-b9e7-084a4ba02808
15286  15317  Konstantinos    Thanel    1954-08-05           Fritsch Ehlert GmbH        rpruschke@gotthard.com               Steffi-Rose-Platz 16 12365 Apolda         Germany           DE      07856050049  2007-07-21  6f16e0ce-9b07-4479-a151-7efdd35408aa
15287  15318      Caroline    Fisher    1975-09-27                   Coleman Ltd            wardshaun@miah.org                826 Hollie park Khanberg M9J 1GP  United Kingdom           GB      01154960754  2016-11-26  1a202edd-20aa-4787-b3b3-622fc01a9d08
15288  15319       Terence    Newton    1946-10-22              Gardner-Williams          freynolds@martin.com   42 Williams terrace North Elizabethton W7 4JJ  United Kingdom           GB      01414960200  2004-06-13  39611895-c08e-4b4a-80cb-314b738066ca

[15284 rows x 12 columns]

In [45]:
new['date_of_birth'] = pd.to_datetime(new['date_of_birth'], errors='coerce', infer_datetime_format=True)

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\2655029350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['date_of_birth'] = pd.to_datetime(new['date_of_birth'], errors='coerce', infer_datetime_format=True)

In [46]:
new['date_of_birth']

0       1990-09-30
1       1940-12-01
2       1995-08-02
3       1972-09-23
4       1952-12-20
           ...
15284   1981-03-03
15285   1967-10-28
15286   1954-08-05
15287   1975-09-27
15288   1946-10-22
Name: date_of_birth, Length: 15284, dtype: datetime64[ns]

In [47]:
new['join_date'] = pd.to_datetime(new['join_date'], errors='coerce', infer_datetime_format=True)

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\2257402556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['join_date'] = pd.to_datetime(new['join_date'], errors='coerce', infer_datetime_format=True)

In [48]:
new['join_date']

0       2018-10-10
1       2001-12-20
2       2016-12-16
3       2004-02-23
4       2006-09-01
           ...
15284   2000-03-29
15285   2018-03-13
15286   2007-07-21
15287   2016-11-26
15288   2004-06-13
Name: join_date, Length: 15284, dtype: datetime64[ns]

In [49]:
users

       Unnamed: 0  index first_name last_name date_of_birth                       company                 email_address                                            address         country country_code       phone_number   join_date                             user_uuid
0               0      0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG             rudi79@winkler.de                       Zimmerstr. 1/0\n59015 Gießen         Germany           DE   +49(0) 047905356  2018-10-10  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1               1      1        Guy     Allen    1940-12-01                       Fox Ltd  rhodesclifford@henderson.com  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom           GB    (0161) 496 0674  2001-12-20  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2               2      2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris  glen98@bryant-marshall.co.uk                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom           GB  +44(0)121 4960340  2016-12-16  fc461df4-b919-48b2-909e-55c95a03fe6b
3               3      3     Darren   Hussain    1972-09-23                   Wheeler LLC    daniellebryan@thompson.org             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom           GB    (0306) 999 0871  2004-02-23  6104719f-ef14-4b09-bf04-fb0c4620acb0
4               4      4      Garry     Stone    1952-12-20                    Warner Inc       billy14@long-warren.com              3 White pass\nHunterborough\nNN96 4UE  United Kingdom           GB      0121 496 0225  2006-09-01  9523a6d3-b2dd-4670-a51a-36aebc89f579
...           ...    ...        ...       ...           ...                           ...                           ...                                                ...             ...          ...                ...         ...                                   ...
15315       15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman           s.jenkins@smith.com     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom           GB    +44(0)292018946  2016-04-15  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316       15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris             s.smith@smith.com              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom           GB   +44(0)1144960977  2020-07-20  d234c04b-c07c-46a5-a902-526f91478ecc
15317       15317  15012    Stephen  Losekann    1940-10-09                       Rosenow          s.losekann@smith.com  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany           DE        02984 08192  2021-03-07  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318       15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones            s.rivera@smith.com   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States           US       239.711.3836  2011-01-03  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319       15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell            s.duncan@smith.com     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom           GB   +44(0)1314960870  2015-08-28  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 13 columns]

###### name standardising

In [57]:
new['last_name'] = new['last_name'].apply(lambda x: x.title())

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\2508413282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['last_name'] = new['last_name'].apply(lambda x: x.title())

In [60]:
new['last_name'] = new['last_name'].astype('string')

C:\Users\joyet\AppData\Local\Temp\ipykernel_7860\2649275113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new['last_name'] = new['last_name'].astype('string')

In [61]:
new

       index    first_name last_name date_of_birth                       company                 email_address                                         address         country country_code     phone_number  join_date                             user_uuid
0          0      Sigfried     Noack    1990-09-30            Heydrich Junitz KG             rudi79@winkler.de                      Zimmerstr. 10 59015 Gießen         Germany           DE   00490047905356 2018-10-10  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1          1           Guy     Allen    1940-12-01                       Fox Ltd  rhodesclifford@henderson.com  Studio 22a Lynne terrace McCarthymouth TF0 9GH  United Kingdom           GB      01614960674 2001-12-20  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2          2         Harry  Lawrence    1995-08-02     Johnson, Jones and Harris  glen98@bryant-marshall.co.uk                92 Ann drive Joanborough SK0 6LR  United Kingdom           GB  004401214960340 2016-12-16  fc461df4-b919-48b2-909e-55c95a03fe6b
3          3        Darren   Hussain    1972-09-23                   Wheeler LLC    daniellebryan@thompson.org            19 Robinson meadow New Tracy W22 2QG  United Kingdom           GB      03069990871 2004-02-23  6104719f-ef14-4b09-bf04-fb0c4620acb0
4          4         Garry     Stone    1952-12-20                    Warner Inc       billy14@long-warren.com             3 White pass Hunterborough NN96 4UE  United Kingdom           GB      01214960225 2006-09-01  9523a6d3-b2dd-4670-a51a-36aebc89f579
...      ...           ...       ...           ...                           ...                           ...                                             ...             ...          ...              ...        ...                                   ...
15284  15315         Marta     Rogge    1981-03-03                        Dehmel    baererklothilde@trubin.com                  Ziegertstr. 60 93330 Stollberg         Germany           DE      05917549662 2000-03-29  8a77629e-7ca1-409f-b22c-c24056bd4eb1
15285  15316          Erna  Hoffmann    1967-10-28  Atzler Seifert AG & Co. KGaA    dunjafischer@vollbrecht.de           Henkallee 186 33456 Sankt Goarshausen         Germany           DE   00490738451073 2018-03-13  5f57209e-8695-4863-b9e7-084a4ba02808
15286  15317  Konstantinos    Thanel    1954-08-05           Fritsch Ehlert GmbH        rpruschke@gotthard.com               Steffi-Rose-Platz 16 12365 Apolda         Germany           DE      07856050049 2007-07-21  6f16e0ce-9b07-4479-a151-7efdd35408aa
15287  15318      Caroline    Fisher    1975-09-27                   Coleman Ltd            wardshaun@miah.org                826 Hollie park Khanberg M9J 1GP  United Kingdom           GB      01154960754 2016-11-26  1a202edd-20aa-4787-b3b3-622fc01a9d08
15288  15319       Terence    Newton    1946-10-22              Gardner-Williams          freynolds@martin.com   42 Williams terrace North Elizabethton W7 4JJ  United Kingdom           GB      01414960200 2004-06-13  39611895-c08e-4b4a-80cb-314b738066ca

[15284 rows x 12 columns]

In [63]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15284 entries, 0 to 15288
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15284 non-null  int64
 1   first_name     15284 non-null  string
 2   last_name      15284 non-null  string
 3   date_of_birth  15284 non-null  datetime64[ns]
 4   company        15284 non-null  object
 5   email_address  15284 non-null  object
 6   address        15284 non-null  string
 7   country        15284 non-null  object
 8   country_code   15284 non-null  object
 9   phone_number   15284 non-null  string
 10  join_date      15284 non-null  datetime64[ns]
 11  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), int64(1), object(5), string(4)
memory usage: 1.5+ MB